body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main-content {
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-main-content select {
  width: 50vh;
}

.App-main-content-input-call-time {
  width: 50vh;
  margin-bottom: 1em;
}

.App-main-content-select {
  margin: 1em;
}

.App-quote-results-box {
  height: 5em;
  width: 25em;
  margin: 3em;
}

.App-quote-results {
  display: flex;
  margin: 1em;
}

.message {
  width: 20em;
  height: 7em;
}